* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
}

body {
    background-color: white;
    color: black;
    margin: 35px;
    margin-top: 25px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid #95BFCA;
}

#logo {
    display: block;
    width: 90px;
    height: auto;
    margin-right: 15px;
    background-color: #95BFCA;
}

h1 {
    font-size: 70px;
    letter-spacing: -0.06em;
    color: #194652;
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
}

p {
    font-family: 'Istok Web', sans-serif;
    font-size: 18px;
}

.logo-container {
    border-right: 4px solid #194652;
    padding-right: 3px;
    margin-right: 15px;
}

#meet-divas {
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 4px solid #95BFCA;
}

#meet-divas > ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}

#meet-divas > ul > li {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#meet-divas > ul > li > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#meet-divas > ul > li > ul > li:nth-child(1) {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
    color: #194652;
    order: 1;
}

#meet-divas > ul > li > ul > li:nth-child(2) {
    width: 50%;
    aspect-ratio: 3/4;
    background-color: #D9D9D9;
    margin-bottom: 15px;
    align-self: center;
    order: 2;
}

#meet-divas > ul > li > ul > li:nth-child(3) {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #194652;
    text-align: center;
    order: 3;
}

#meet-divas > ul > li > ul > li:nth-child(4) {
    font-size: 16px;
    line-height: 1.4;
    color: #000;
    order: 4;
}

.divider {
    border-left: 2px solid #95BFCA;
    padding-left: 20px;
}

.non-divider {
    border-left: 2px solid white;
    padding-left: 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 0;
}

.projects-grid details {
    padding-bottom: 5px;
}

.projects-grid summary {
    margin-top: 5px;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #95BFCA;
}

.projects-grid summary::-webkit-details-marker {
    display: none;
}

.projects-grid summary::after {
    content: "◢";
    font-size: 25px;
    color: #ccc;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    transform-origin: center;
    vertical-align: middle;
    position: relative;
    top: -4px;
    right: 6px;
}

.projects-grid details[open] summary::after {
    transform: rotate(-135deg);
    top: 0px;
}

.projects-grid details p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.4;
}

.project_img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border: 2px solid #95BFCA;
}